langchain==0.3.7
langchain_openai==0.2.6
pandas==2.2.3
psutil==6.1.0
pydantic-settings==2.6.1
pyinstaller==6.11.1
selenium==4.26.1
selenium-stealth==1.0.6
ttkbootstrap==1.10.1
undetected-chromedriver==3.5.5
webdriver-manager==4.0.2
